/* 表格樣式*/
.title {
  margin-bottom: 8px;
}

.form-wrapper {
  background-color: #F5F8FA;
  color: #696974;
  border-radius: 2px;
}

label {
  padding-left: 16px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

::placeholder {
  color: #B5B5BE;
  font-size: 16px;
  font-weight: 400;
}

.form {
  border-bottom: 2px solid #657786;
  background-color: #f5f8fa;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.form-wrapper {
  height: 54px;
  margin-top: 32px;

  .error-alert {
    color: #FC5A5A;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 4px;
  }
}

.alert-container {
  position: relative;

  .letter-count {
    position: absolute;
    right: 0;
    font-size: 12px;
    font-weight: 500;
    color: dark-80-color;
    margin-top: 4px;
  }
}

.form:focus,
.form:hover {
  border: 0px;
  background-color: #f5f8fa;
  -webkit-appearance: none;
  outline: none;
  border-bottom: 2px solid #50B5FF
}

.error-message {
  font-size: 14px;
  color: #FC5A5A;
  height: 24px
}

.error-notice {
  font-size: 15px;
  color: #FC5A5A;
}

.redBottomLine {
  border-bottom: 2px solid #FC5A5A;
}

/* 按鈕樣式 */
.btn-singin {
  background-color: #FF6600;
  height: 46px;
  width: 400px;
  border-radius: 50px;
  margin-top: 40px;
}

