@mixin two-side-grey {
  border-left: 1px solid #E6ECF0;
  border-right: 1px solid #E6ECF0;
}


@mixin bottom-grey {
  border-bottom: 1px solid #E6ECF0;
}

@mixin bold-bottom-grey {
  border-bottom: 2px solid #E6ECF0;
}